#uniser2{
    position: absolute;
    width: 115px;
    height: 64px;
    margin-top: 64px;
    margin-left: 48px;
}
#rectangle_top_right {
    position:absolute;
    top:0;
    right:0;
}
#forgot_password{
position: relative;
margin-top: -70px;
font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 29px;
color: #222222;
}
#hansi_vasite{
    position: relative;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;

}
.login_section{
    display: flex;
    flex-direction: row;
}
#rectangle_bottom_left {
    position:relative;
    width: 585.9px;
    height: 474.96px;
    top: 150px;
}
.login_form{
    display: flex;
    margin-left: 100px;
    margin-top: 180px;
}
.daxil_ol_btn{
    width: 350px;
    border-radius:100% ;
}

.message_box{
margin-top: 45px;
display: flex;
justify-content: space-between;
padding: 15px;
width: 270px;
height: 88px;
border-radius: 9px;
border: 1px solid lightblue;
}
.message_box_info {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
} 

@media only screen and (max-width: 1000px) {

    #rectangle_top_right {
        display: none;
    }
    .login_form{
        margin-top: 250px;
    }
    #rectangle_bottom_left {
        display: none;
    }
    .login_form{
        display: flex;
        margin-left: 30px;
    }

}